<div class="card margin-top-50 shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">Atualizar candidatos</h5>
    <form [formGroup]="registerForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nome</label>
          <input type="text" class="form-control" [(ngModel)]="candidato.nome"
            [ngClass]="{'is-invalid': registerForm.get('nome').errors && registerForm.get('nome').touched}"
            formControlName="nome" placeholder="Insira o nome">
          <div *ngIf="registerForm.get('nome').hasError('required')
        && registerForm.get('nome').touched" class="invalid-feedback">
            Nome é obrigatório.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Telefone</label>
          <input type="text" class="form-control" [(ngModel)]="candidato.telefone"
            [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
            formControlName="telefone" placeholder="Insira o telefone">
          <div *ngIf="registerForm.get('telefone').hasError('required')
        && registerForm.get('telefone').touched" class="invalid-feedback">
            Telefone é obrigatório.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Linkedin</label>
          <input type="text" class="form-control" [(ngModel)]="candidato.urlLinkedin"
            [ngClass]="{'is-invalid': registerForm.get('urlLinkedin').errors && registerForm.get('urlLinkedin').touched}"
            formControlName="urlLinkedin" placeholder="Insira o urlLinkedin">
          <div *ngIf="registerForm.get('urlLinkedin').hasError('maxlength')
        && registerForm.get('urlLinkedin').touched" class="invalid-feedback">
            Linkedin deve ter no máximo 500 Caracters.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>GitHub</label>
          <input type="text" class="form-control" [(ngModel)]="candidato.usuarioGithub"
            [ngClass]="{'is-invalid': registerForm.get('usuarioGithub').errors && registerForm.get('usuarioGithub').touched}"
            formControlName="usuarioGithub" placeholder="Insira o usuarioGithub">
          <div *ngIf="registerForm.get('usuarioGithub').hasError('maxlength')
        && registerForm.get('usuarioGithub').touched" class="invalid-feedback">
        GitHub deve ter no máximo 150 Caracters.
          </div>
        </div>
      </div>

      <div class="form-row">
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="Salvar()">
          Salvar
        </button>
      </div>
    </form>
  </div>